@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* general */
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

body {
    position: relative;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    line-height: 1.2;
}

button {
    border: none;
    background-color: white;
}

section {
    margin-bottom: 4rem;
    /* max-width: 1275px; */
    padding: 5rem 0;
}

form {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.btn {
    background-color: #22e65d;
    border: 1px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    padding: .5rem 1rem;
    margin: .75rem 0;
}

.btn a {
    color: white;
}

.btn--clear {
    background: transparent;
    border: 1px solid white;
}

.card {
    background-color: #fff;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    border-radius: 5px;
    padding: 1rem 2rem;
    margin-bottom: 1rem;

    text-align: center;
    max-width: 250px;
}

.card__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    text-align: center;
}

.card__title {
    margin-bottom: 1rem;
}

.card__text {
    font-size: 14px;
    line-height: 1.2;
}

.section__header {
    margin-bottom: 4rem;
    text-align: center;
}

.title__highlight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlight {
    background-color: #429bb8;
    padding: 5px 20px;
    margin: 0 1rem;
}

.field {
    margin-bottom: .75rem;
}

.field > * {
    width: 100%;
}

.label {
    display: block;
    font-weight: 700;
    margin-bottom: .5rem;
}

/* header */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    margin-bottom: 1rem;
}

.header .logo {
    background-image: url(/assets/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;

    height: 4rem;
    width: 100%;
}

.logo {
    margin: 1rem 0;
}

/* desktop nav */
.nav {
    padding: .5rem 2rem;
    width: 100%;
    max-width: 1275px;
}

.nav__items {
    display: flex;
    justify-content: space-between;
}

.nav__items div {
    display: flex;
}

.nav__item {
    font-weight: 600;
    padding-left: 2rem;
}

.nav__item a {
    color: black;
    font-weight: 600;
}

.nav__item a:hover {
    color: #429bb8;
    transition: color 250ms ease-in-out;
}


/* mobile nav */
.nav__mobile {
    border: 1px solid black;
    background-color: white;
    position: absolute;
    top: 100%;
    display: flex;
    justify-content: center;
    width: 50%;
    z-index: 1000;
}

.mobile__item {
    padding: .7rem;
}

.hamburger {
    cursor: pointer;
    text-align: center;
    width: 2rem;
}

.hamburger span {
    background-color: black;
    display: block;

    height: 5px;
    width: 100%;

    margin: 5px 0;
}

.hidden {
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 0%;
    overflow: hidden;
}

/* main */

/* hero */
.hero {
    color: white;

    background-image: url('/assets/trailer.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    height: 460px;
    width: 100%;
}

.hero::before {    
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    
}

.hero .text {
    position: relative;
    line-height: 1.2;
    padding: 1rem;
}

/* services */
.services {
    position: relative;
}
.services::before {
    background-color: #118c4f;
    clip-path: polygon(0 50%, 100% 15%, 100% 50%, 0 85%);
    content: "";
    height: 750px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.services::after {
    background-color: #118c4f;
    clip-path: polygon(0 50%, 100% 15%, 100% 50%, 0 85%);
    content: "";
    height: 750px;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 50%;
}

.service {
    background-color: #fff;
    margin: 2rem 0;
}

.service__img {
    min-height: 500px;
}

.service__main {
    border: 1px solid rgb(228, 226, 226);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1.5rem 2rem;
}

.service__title {
    margin-bottom: 1rem;
}

.service__text {
    line-height: 1.5;
}

.service__img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.junk-img {
    background-image: url(/assets/trash_removal.jpg);
}

.furniture-img {
    background-image: url(/assets/furniture_removal.jpg);
}

.cleanout-img {
    background-image: url(/assets/cleanout.jpg);
}

.all__services {
    margin-top: 2rem;
}

.all__services h3 {
    margin-bottom: 1rem;
}

.all__item {
    font-weight: 600;
    margin-bottom: .5rem;
}

.all__item::before {
    color: green;
    content: '✓';
    font-size: 1.5rem;
    font-weight: 700;
}

.all {
    columns: 1;
}
@media (min-width: 600px) {
    .all { columns: 2; }
}
@media (min-width: 900px) {
    .all {
        columns: 3;
    }
}
/* about */
.about {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

.about h3 {
    margin-bottom: .5rem;
}

.about__img {
    margin-bottom: 1rem;
}

.about__info {
    padding: 0 1rem;
}

.about__info div {
    margin-bottom: 2rem;
}

/* testimonials */
.testimonials {
    height: 600px;
    width: 100%;
}
.testimonials__slider {
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
  }
  .slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    appearance: none;
    backface-visibility: hidden;
  }
  .slider__nav:checked {
    animation: check 0.4s linear forwards;
  }
  .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
  }
  .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
  }
  .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
  }
  .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
  }
  .slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    transition: left 0.4s;
    display: flex;
    flex-flow: row nowrap;
  }
  .slider__contents {
    height: 100%;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  .slider__image {
    font-size: 2.7rem;
    color: #22e65d;
  }
  .slider__caption {
    font-weight: 500;
    margin: 2rem 0 1rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
  }
  .slider__txt {
    color: #000;
    margin-bottom: 3rem;
    max-width: 300px;
  }
  
  @-webkit-keyframes check {
    50% {
      outline-color: #333;
      box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #333;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }
  
  @keyframes check {
    50% {
      outline-color: #333;
      box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #333;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }

/* contact */
.contact {
    background-color: #f5f5f5;
}
.contact__info {
    margin-bottom: 2rem;
    width: 45%;
}

.contact__form {
    width: 45%;
}

.info__item {
    /* padding */
    margin-bottom: 2rem;
}

.info__icon {
    font-size: 2rem;
    padding-right: 1rem;
}

/* footer */
.footer {
    text-align: center;
}

@media only screen and (max-width: 768px)  {
    .nav {
        display: none;
    }

    .card {
        max-width: 365px;
    }

    .contact__info {
        width: 100%;
    }

    .contact__form {
        width: 100%;
    }

    .container {
        width: 90%;
    }

    .contact__container {
        align-items: center;
        flex-direction: column;
    }

    .call-btn {
        position: fixed;
        bottom: 2%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .call {
        background-color: #22e65d;
        border-radius: 500px;
        font-size: 2rem;
        padding: .5rem 1rem;
    }

    .call a {
        color: white;
    }
}

@media only screen and (min-width: 769px) {
    .nav__mobile {
        display: none;
    }

    .mobile-toggle {
        display: none;
    }

    .flex {
        display: flex;
        padding-left: 2rem;
    }

    .about .flex {
        justify-content: space-evenly;
    }

    .about__img {
        width: 50%;
    }
    .about__info {
        width: 40%;
    }

    .service {
        display: flex;
        margin: 0;
        /* width: 100%; */
    }

    .service__flip {
        flex-direction: row-reverse;
    }

    .service__img {
        width: 50%;
    }

    .service__main {
        width: 50%;
    }
}